@charset "UTF-8";

.inner {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1100px;
}

.img {
  vertical-align: bottom;
}

.header {
  background-color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin: 15px 0;
}

.header-logo__icon {
  color: #c0c0c0;
  font-size: 40px;
}

.header-contact-button {
  background-color: #74cfae;
}

.header-contact-button-link {
  color: #fff;
  display: inline-block;
  font-family: Lato;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: color 0.3s;
}

.header-contact-button-link:hover {
  color: #333;
}

.header-hamburger-button {
  display: none;
}

.theme {
  background-color: #f2f2f2;
}

.theme-inner {
  padding: 250px 0;
  margin-top: 70px;
  text-align: center;
}

.theme__title {
  color: #74cfae;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
}

.theme__text {
  color: #c0c0c0;
  font-family: Raleway;
  font-size: 30px;
  margin-top: 20px;
}

.about {
  background-color: #74cfae;
}

.about-inner {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 100px;
}

.about-main {
  text-align: center;
  width: 65%;
}

.about__title {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
}

.about__text {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  line-height: 26px;
  margin-top: 35px;
}

.menu {
  background-color: #f2f2f2;
}

.menu-inner {
  padding: 60px 0 70px;
}

.menu-title {
  text-align: center;
}

.menu-title__text {
  color: #333;
  font-family: Raleway;
  font-size: 24px;
}

.menu-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.menu-content-link {
  display: inline-block;
  margin: 80px 0 0 100px;
}

.menu-content-link__img {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.menu-content-link:hover .menu-content-link__img {
  opacity: 1;
}

.menu-content-link:nth-child(3n+1) {
  margin-left: 0;
}

.menu-content-link:nth-of-type(-n+3) {
  margin-top: 0;
}

.menu-summary {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.menu-summary__text {
  color: #333;
  font-family: Lato;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  width: 50%;
}

.menu-summary__button {
  background-color: #74cfae;
  margin-left: 90px;
}

.menu-summary__button-link {
  color: #fff;
  display: inline-block;
  font-family: Lato;
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.menu-summary__button-link:hover {
  color: #333;
}

.skill {
  background-color: #4e4e4e;
}

.skill-inner {
  padding: 70px 0 100px;
}

.skill-title {
  text-align: center;
}

.skill-title__text {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
}

.skill-content {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.skill-item {
  text-align: center;
  margin-left: 180px;
}

.skill-item:first-child {
  margin-left: 0;
}

.skill-item__text {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  margin-top: 15px;
}

.sns {
  background-color: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
}

.sns-content {
  display: flex;
  justify-content: center;
}

.sns-content-link {
  display: inline-block;
}

.sns-content-link-inner {
  padding: 40px 0;
  text-align: center;
  transition: background-color 0.3s;
  width: 185px;
}

.sns-content-link:hover .sns-content-link-inner {
  background-color: #fff;
}

.sns-content-link__icon {
  color: #74cfae;
  font-size: 48px;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px;
}

.footer-content {
  text-align: right;
}

.footer-content__text {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
}

.footer-content__icon {
  margin: 0 5px;
}

@media screen and (max-width:1199px) {

  .inner {
    width: 97%;
  }

  .about-inner {
    flex-direction: column;
    padding: 50px 0 25px;
  }

  .about-img {
    text-align: center;
  }
  
  .about-main {
    margin: 20px auto 0;
  }

  .menu-content {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .menu-content-link {
    margin: 0 auto;
    text-align: center;
  }

  .menu-content-link:nth-child(3n+1) {
    margin: 80px auto 0;
  }

  .menu-content-link:first-child {
    margin-top: 0;
  }

  .menu-summary {
    flex-direction: column;
    margin-top: 80px;
  }

  .menu-summary__text {
    width: 100%;
  }

  .menu-summary__button {
    margin: 40px auto 0;
  }

  .skill-content {
    flex-direction: column;
  }

  .skill-item {
    margin: 88px 0 0;
  }

  .skill-item:first-child {
    margin-top: 0;
  }

}

@media screen and (max-width:767px) {

  .header-contact-button {
    display: none;
  }

  .header-hamburger-button {
    display: inline-block;
  }
  
  .header-hamburger-button-link {
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    padding: 10px;
    transition: border 0.3s;
  }

  .header-hamburger-button-link:hover {
    border-color: #333;
  }

  .header-hamburger-button-link:hover .header-hamburger-button-link__line{
    background-color: #333;
  }

  .header-hamburger-button-link__line {
    background-color: #ddd;
    display: block;
    height: 2px;
    margin-top: 5px;
    transition: background-color 0.3s;
    width: 30px;
  }

  .header-hamburger-button-link__line:first-child {
    margin-top: 0;
  }

  .theme-inner {
    padding: 160px 0 130px;
  }

  .theme__title {
    font-size: 80px;
  }

  .about-main {
    width: 100%;
  }

  .menu-content-link {
    margin: 0;
  }

  .menu-content-link:nth-child(3n+1) {
    margin: 80px 0 0;
  }

  .menu-content-link:first-child {
    margin-top: 0;
  }

  .menu-content-link__img--size {
    width: 100%;
  }

  .menu-summary__button-link {
    font-size: 20px;
    padding: 18px 30px;
  }

  .inner.sns-inner {
    width: 100%;
  }

  .sns-inner {
    padding: 50px 15px;
  }
  
  .sns-content {
    flex-direction: column;
  }

  .sns-content-link-inner {
    width: 100%;
  }

}